{% load static %}
<title>Login</title>

<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="container">
    <div class="login-container">
        <div class="logo">
            <h1>Ksa Server</h1>
        </div>
        
        {% if error %}
        <div class="error-message">
           {{ error }}
        </div>
        {% endif %}
        
        <form method="post" action="{% url 'index.index' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Usuario</label>
                <div class="input-with-icon">

                    <input type="text" id="username" name="user" required placeholder="Usuario">
                </div>
            </div>
            
            <button type="submit" class="btn-login">
                Iniciar Sesión
            </button>
        </form>
        
        <div class="catalogos-link">
            <a href="{% url 'catalogos' %}">Ver Catálogos Disponibles</a>
        </div>
    </div>
</div>
